
<VirtualHost *:80>
DocumentRoot "{{host3_documentroot}}"
ServerName "{{inventory_hostname}}{{inventory_hostname}}:80"


</VirtualHost>



<Directory "{{host3_documentroot}}">
AllowOverride None

Require all granted

</Directory>




































